/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 10:46:32
    Author     : Valdanial
*/

#titre_liste_articles
{
    text-align:center;
}

#bloc_liste_articles
{
    display: inline-block;
    margin: auto auto;
}

.miniature_article
{
   display: inline-block;
}

.icone_panier
{
    height: 40px;
    width:40px;
    display: block;
    background-image: url(/GameStore/image/icone_ajout_panier.png);
}

.icone_panier:hover
{
    background-image: url(/GameStore/image/icone_ajout_panier_hover.png);
}

.prix_article
{
    margin-left: 50px;
}

.icone_panier_wrap
{
    height: 40px;
    width:40px;
    padding-left: 20px;
}

.tableau_sans_pretention td:hover
{
    
}
