/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 16:29:07
    Author     : Valdanial
*/


.Connexion
{
    position: relative;
    left: 60%;
}