/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 09:36:06
    Author     : Valdanial
*/

header
{
    min-height: 102px;
    height: min-content;
    top: 0%;
}

#reste_du_header
{
    min-width: 500px;
    width: 100%;
    background-image: url("/GameStore/image/banniere.png");
    display: inline-block;
    background-size: 100% 100%;
    height: 102px;
}

#Logo
{
    display: inline-block;
    background-image: url("/GameStore/image/logo2.png");
    width: 102px;
    height: 102px;
    position: absolute;
}

