/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 10:31:36
    Author     : Valdanial
*/

.Menu
{
    border: 1px solid black;
    float: right;
    float:top;
    background-color: #0099FF;
    display: inline;
    
}

.Menu a
{
    margin-left:5px;
    text-decoration: none;
    display: block;
    color: black;
}

.Menu a:hover
{
    background-color:#0066FF;
    color: black;
}

.Menu p
{
    display: inline;
}
