/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2014, 10:53:05
    Author     : Valdanial
*/

#table_panier tr
{
    text-align: center;
}

#table_panier tr td
{
    background-color: #A7D6FF
}

#table_panier tr th
{
    min-width: 100px;
    background-color: #97C6FF
}

#table_panier tr td:hover
{
    background-color: #8FCEDF
}

.table_pres tr:not(.normal)
{
    text-align: center;
}

.table_pres tr td:not(.normal)
{
    background-color: #A7D6FF
}

.table_pres tr th:not(.normal)
{
    background-color: #97C6FF
}

.table_pres tr td:hover:not(.normal)
{
    background-color: #8FCEDF
}



#titre_panier
{
    text-align: center;
}

#bloc_panier
{
    display:inline-block;
    margin-left: 20px;
    margin-top: 15px;
}

.icone_add
{
    display: inline-block;
    height: 40px;
    width:40px;
    background-image: url("/GameStore/image/add.png");
}

.icone_add:hover
{
    background-image: url("/GameStore/image/add_hover.png");
}

.icone_minus
{
    display: inline-block;
    height: 40px;
    width:40px;
    background-image: url("/GameStore/image/minus.png");
}

.icone_minus:hover
{
    background-image: url("/GameStore/image/minus_hover.png");
}

.icone_delete
{
    display: inline-block;
    height: 40px;
    width:40px;
    background-image: url("/GameStore/image/delete.png");
}

.icone_delete:hover
{
    background-image: url("/GameStore/image/delete_hover.png");
}

.bloc_image_jeu_panier
{
    
   margin: 0 auto;
}

.panier_nom_article
{
    margin: 0 auto;
}

#image_acheter_panier
{
    margin: auto auto;
    width: 40px;
    height: 40px;
    background-image: url("/GameStore/image/icone_panier_acheter.png");
}

#image_acheter_panier:hover
{
    background-image: url("/GameStore/image/icone_panier_acheter_hover.png");
}

#lien_acheter_panier
{
    width: 40px;
    height: 40px;
}