/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mars 2014, 10:53:05
    Author     : Valdanial
*/

#table_panier tr
{
    text-align: center;
}

#table_panier tr td
{
    background-color: #A7D6FF
}

#table_panier tr th
{
    min-width: 100px;
    background-color: #97C6FF
}

#table_panier tr td:hover
{
    background-color: #8FCEDF
}


#titre_panier
{
    text-align: center;
}

#bloc_panier
{
    margin-left: 20px;
    margin-top: 15px;
}

.icone_add
{
    height: 40px;
    width:40px;
    background-image: url("/GameStore/image/add.png");
}

.icone_add:hover
{
    background-image: url("/GameStore/image/add_hover.png");
}

.icone_minus
{
    height: 40px;
    width:40px;
    background-image: url("/GameStore/image/minus.png");
}

.icone_minus:hover
{
    background-image: url("/GameStore/image/minus_hover.png");
}

.icone_delete
{
    height: 40px;
    width:40px;
    background-image: url("/GameStore/image/delete.png");
}

.icone_delete:hover
{
    background-image: url("/GameStore/image/delete_hover.png");
}

.image_jeu_panier
{
    float: left;
}

.bloc_image_jeu_panier
{
    width: 100%;
    height: 100%;
    float: left;
}

.panier_nom_article
{
    width: 100%;
    height: 100%;
}